/*----- Padronização -----*/
body, html, figure, input, img, h1, h2,
h3, h4, h5, h6, div, figure, section
{
    margin: 0;
    padding: 0;
}

body, html
{
    height: 100%;
}

#all
{
    flex: 1;
}

body
{
    background-color: #ffffff;
}

/*----- Estilização -----*/
@font-face
{
    font-family: 'Lexend Deca';
    src: url("../fontes/LexendDeca-Regular.ttf");
}

/*----- Web-Desktop -----*/
@media screen and (min-device-width:1000px){
    .tamanho-conteudo
    {
        width: 100%;
        height: auto;
    }

    .titulo-empresa
    {
        text-align: center;
        font-size: 2.5em;
        font-family: 'Lexend Deca';
    }

    .subtitulo-empresa
    {
        text-align: center;
        font-size: 1.8em;
        font-family: 'Lexend Deca';
    }

    .imagem-empresa
    {
        width: 100px;
        height: 100px;
        background-color: aquamarine;
        margin: auto;
        margin-left: 5px;
        text-align: center;
    }

    .caixa-sobre
    {
        width: 1300px;
        height: 1000px;
        background-color: violet;
        margin: auto;
        padding-top: 150px;
        box-sizing: border-box;
    }

    .text-empresa
    {
        font-size: 18px;
    }

    .caixa-conteudo-empresa
    {
        width: 300px;
        height: 300px;
        background-color: tomato;
        margin: 3px;
        text-align: center;
        float: left;
        display: flex;
        justify-content: center;
    }

    .caixa-titulo
    {
        width: 100%;
        height: 180px;
        background-color: rgb(26, 228, 160);
        text-align: center;
        font-size: 2.5em;
        font-family: 'Lexend Deca';
        color: #ffffff;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .imagem-profissional
    {
        width: 300px;
        height: 300px;
        background-color: chartreuse;
        /* float: left; */
    }

    .caixa-profissonal1
    {
        width: 500px;
        height: 500px;
        background-color: rgb(148, 39, 0);    
        /* float: left; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .caixa-profissonal2
    {
        width: 700px;
        height: 500px;
        background-color: coral;
    }

    .caixa-profissional
    {
        width: 1300px;
        height: 800px;
        background-color: steelblue;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .titulo-pro
    {
        font-family: 'Lexend Deca';
        font-size: 2.8em;
    }

    .texto-pro
    {
        font-family: 'Lexend Deca';
        font-size: 2em;
    }
    
    .icon-image
    {
        width: 50px;
        height: 50px;
        background-color: thistle;
        float: left;
        margin: 5px;
    }

    .text-list
    {
        font-family: 'Lexend Deca';
        font-size: 1.8em;
    }

    .clean
    {
        clear: both;
    }

    .conteudo-avaliacoes
    {
        width: 1300px;
        height: 600px;
        background-color: teal;
        margin: auto;
    }

    .caixa-slider
    {
        width: 1300px;
        height: 800px;
        background-color: brown;
        margin: auto;
    }

    .conteudo-slider
    {
        width: 500px;
        height: 900px;
        background-color: rgba(30, 228, 211, 0.897);
        position: relative;
        border-radius: 0px 0px 10px 10px;
        border: 0px;
        padding: 40px;
        box-sizing: border-box;
    }

    .text-slider
    {
        width: 250px;
        height: 40px;
        background-color: transparent;
        color: #ffffff;
        border: solid 2.5px #ffffff;
        text-align: center;
        font-family: 'Lexend Deca';
        font-size: 1em;
    }

    .btn-slider
    {
        width: 80px;
        height: 45px;
        background-color: #015249;
        color: #ffffff;
        border: 0px;
        text-align: center;
        font-family: 'Lexend Deca';
        font-size: 1em;
    }

    input::placeholder
    {
        color: #ffffff;
    }

    .titulo-slider
    {
        font-family: 'Lexend Deca';
        font-size: 3.5em;
        color: #ffffff;
    }

    .subtitulo-slider
    {
        font-family: 'Lexend Deca';
        font-size: 2em;
        color: #ffffff;
    }

/*----- Web-Responsivo -----*/
@media screen and (min-device-width:880px){}