/* CSS */

body, html, figure, input, img, h1, h2,
h3, h4, h5, h6, div, figure, section{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'Lexend Deca';
    src: url("../fontes/LexendDeca-Regular.ttf");

}

@font-face{
    font-family: 'Manjari-Regular';
    src: url("../fontes/Manjari-Regular.ttf");

}

body, html{
    height: 100%;
}

#all{
    /* min-height: 100%;
    position: relative; */
    flex: 1;
}

/*
* html #all{
    height: 100%;
} */

body{
    background-image: linear-gradient(to bottom right, #57BC90, #77C9D4); 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
}



.center{
    margin-left: auto;
    margin-right: auto;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

   /* MENUUUU */
   header{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
}


/* **************** TELA DE ESCOLHA **************** */
/* DESKTOOPPPPP */
@media screen and (min-device-width:1000px){
    
 
    
    /* CONTEUDO */

    .container-conteudo{
        width: 1300px;
        height: 850px;
        margin: auto;
        box-sizing: border-box;
        /* background-color: #015249; */
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .title-caixa-escolha{
        /* width: 1000px; */
        width: inherit;
        min-height: 50px;
        /* background-color: rgb(222, 184, 135);  */
        font-size: 35px;
        text-align: center;
        color: white;
        font-family: 'Lexend Deca', sans-serif;
        margin-bottom: 50px;
    }
    
    .caixa-escolha{
        width: inherit;
        height: 600px;
        /* background-color: rgb(235, 80, 8); */
        margin-bottom: 100px;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;

    }
    
    /* caixa de escolhas */
    .caixa-cliente{
        width: 450px;
        min-height: 400px;
        height: auto;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
        float: left;
        /* margin-right: 10%; */
        box-shadow: 10px 10px 15px #0152497e;
        border-radius: 10px;
        cursor: default;
        transition: .4s;   
        display: flex;
        align-items: center ;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .caixa-profissional{
        width: 450px;
        min-height: 400px;
        height: auto;   
        overflow: hidden;
        background-color: rgb(255, 255, 255);
        float: left;
        border-radius: 10px;
        box-shadow: 10px 10px 15px #0152497e; 
        cursor: default;  
        transition: .4s;   
        display: flex;
        align-items: center ;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    /*conteudo das caixas de escolhas */
    .title-escolha{
        width: inherit;
        height: 50px;
        /* background-color: rgb(220, 220, 220); */
        font-size: 40px;
        text-align: center;
        box-sizing: border-box;
        /* padding-top: 20px; */
        margin-top: 20px;
        color: #84848D;     
        font-family: 'Lexend Deca', sans-serif;

    }
    
    .texto-escolha{
        width: 350px;
        height: 180px;
        /* background-color: rgb(240, 230, 140); */
        box-sizing: border-box;
        font-size: 26px;
        display: flex;
        align-items: center ;
        justify-content: center;
        text-align: center;
        color: #A5A5AF;
        font-family: 'Manjari-Regular', sans-serif;
    }
    
    .img-escolha{
        width: inherit;
        height: 200px;
        /* background-color:#A5A5AF; */
        box-sizing: border-box;
        margin-bottom: 50px;
    
    }
    
    .icon-escolha{
        max-height: 200px;
        /* background-color:#A5A5AF; */
        margin-left: 25%;
    }
    
    .botao-escolha{
        width: 450px;
        height: 0;
        background-color: #caf9ff;
        box-sizing: border-box;
        /* padding-left: 85%; */
        padding-right: 10px; 
        margin-bottom: 0px;
        transition: .5s;
        display: flex;
        align-items: center;
        cursor: pointer;             
    }
    
    .seta img{
        width: 35px;
        height: 35px;
        visibility: hidden;
        opacity: 0;
        transition: .5s;
        /* background-color: rgb(138, 43, 226); */
    
    }  
    
    /* FOOTER */
    
    footer{
        width: 100%;
        min-height: 500px;
        overflow: hidden;
        height: fit-content;
        background-color: rgb(255, 255, 255);
        flex-wrap: wrap;        
        /* position: absolute;
        bottom: 0%; */
    }
    
    /* #espaco{
        width: 100%;
        height: 100px;
        /* background-color: #015249; */
}

/* RESPONSIVOOOO */
@media screen and (max-device-width:880px){

    

    /* body, html, figure, input, img, h2{
        margin: 0;
        padding: 0;
    } */
    
    body, html{
        height: 100%;
    }
    
    #all{
        /* min-height: 100%;
        position: relative; */
        flex: 1;
    }
    
    /*
    * html #all{
        height: 100%;
    } */
    
    body{
        background-image: linear-gradient(to bottom right, #57BC90, #77C9D4); 
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;  

        display: flex;
        flex-direction: column;
    }
    
    p, h1, div{
        font-family: 'Lexend Deca', sans-serif;
    }
    
    .center{
        margin-left: auto;
        margin-right: auto;
    }
    
    .flex-center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    header{
        width: 100%;
        height: 100px;
        background-color: rgb(255, 255, 255);
    }
    
    /* CONTEUDO */
    /* CONTEUDO */

    .container-conteudo{
        width: 100%;
        min-height: 800px;
        height: auto;
        overflow: hidden;
        /* margin: auto; */
        box-sizing: border-box;
        /* background-color: #015249; */
        padding-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }
    .title-caixa-escolha{
         width:100%;
         min-height: 50px;
         /* background-color: rgb(222, 184, 135); */
         font-size: 40px;
         text-align: center;
         color: white;
    }
    
    .caixa-escolha{
        width: inherit;
        height: 1200px;
        background-color: rgba(247, 128, 31, 0.336);
        margin-bottom: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    
    /* caixa de escolhas */
    .caixa-cliente{
        width: 700px;
        width: 75%;
        height: 400px;
        background-color: rgb(255, 255, 255);
        /* float: left; */
        /* margin-right: 10%; */
        box-shadow: 10px 10px 15px #0152497e;
        border-radius: 10px;
    }
    
    .caixa-profissional{
        width: 700px;
        width: 75%;
        height: 400px;
        background-color: rgb(255, 255, 255);
        /* float: left; */
        border-radius: 10px;
        box-shadow: 10px 10px 15px #0152497e;
    }
    
    /*conteudo das caixas de escolhas */
    .title-escolha{
        width: 100%;
        height: 50px;
        /* background-color: rgb(220, 220, 220); */
        font-size: 45px;
        text-align: center;
        box-sizing: border-box;
        padding-top: 20px;
        /* color: rgb(111, 111, 112);
         */
        color: #84848D;        
    }
    
    .texto-escolha{
        width: 100%;
        height: 200px;
        /* background-color: rgb(240, 230, 140); */
        box-sizing: border-box;
        font-size: 2em;
        padding: 55px;
        text-align: center;
        color: #A5A5AF;
    
    }
    
    .img-escolha{
        width: 40%;
        height: 250px;
        /* background-color: lightblue; */
        /* background-color:#A5A5AF; */
        box-sizing: border-box;
        padding: 10px;
        /* margin-top: 100px; */
        float: left;
        margin-left: 70px;
    
    }
    
    .img{
        width: 100%;
        /* height: 200px; */
        height: 100%;
        /* background-color:rgb(37, 37, 228); */
    }
    
    .botao-escolha{
        width: 80px;
        height: 80px;
        /* background-color: rgb(248, 0, 0); */
        /* box-sizing: border-box;   */
        margin-left: 250px;
        margin-top: 50px;
        float: left;
           
    }
    
    .seta img{
        width: 60px;
        height: 60px;
        /* background-color: blueviolet; */
    
    }  
    
    /* FOOTER */
    
    footer{
        width: 100%;
        height: fit-content;
        background-color: rgb(255, 255, 255);
        /* position: absolute;
        bottom: 0%; */
    }
    
    #espaco{
        width: 100%;
        height: 100px;
        /* background-color: #015249; */
    }
    
}

/* ***************** TELA DE LOGIN **************** */

/*----- Web-Desktop -----*/
@media screen and (min-device-width:1000px)
{

    .float
    {
        float: left;
    }

    
    /*----- Cabeçalho -----*/
    header
    {
        width: 100%;
        height: 80px;
        background-color: #000000;
        box-shadow: 10px 0px 30px #000000;
    }    
    
    .container-centro
    {
        width: 1200px;
        height: 850px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        /* background-color: #000000 */
    }
    
    .caixa-texto
    {
        width: 400px;
        height: inherit;
        color: #ffffff;
        text-align: right;
        display: flex;
        justify-content: center;
        padding-top: 50px;
        box-sizing: border-box;
        /* background-color: #002420; */
    }

    .conteudo-caixa-texto
    {
        font-family: 'Lexend Deca';
        font-size: 40px;
        padding: 50px;
        text-align: center;
    }

    .caixa-conteudo
    {
        width: 800px;
        height: inherit;
        position: relative;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .card-login
    {
        width: 600px;
        height: 610px;
        border-radius: 10px;
        background-color: rgb(235, 230, 230);
        background-image: url(../img/fundo03.jpg);
        background-size: cover;
        box-shadow: 15px 15px 30px #015249;
    }

    .conteudo-card
    {
        width: 580px;
        height: 570px;
        padding: 25px;
        box-sizing: border-box;
    }

    .logotipo
    {
        width: 80px;
        height: 80px;
        /* background-color: #b80000; */
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .logotipo img
    {
        width: 80px;
        height: 80px;
        /* background-color: #b80000; */
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }


    .texto-centro
    {
        text-align: center;
    }

    .titulo
    {
        width: 560px;
        height: auto;
        /* background-color: yellowgreen; */
        font-family: 'Lexend Deca';
        font-size: 40px;
        font-weight: bold;
        color: #000000;
    }

    .caixa-input
    {
        width: 560px;
        height: 70px;
        margin-top: 30px;
        /* background-color: #9cd477; */
    }   

    .label
    {
        font-family: 'Lexend Deca';
        width: 490px;
        font-size: 20px;
        text-align: left;
        margin-left: 40px;
    }

    .texto-esquerda
    {
        text-align: left;
    }

    .input
    {
        width: 490px;
        height: 40px;
        border-radius: 8px;
        border: 0px;
        outline: none;
        padding-left: 20px;
        background-color: #d6d6d6;
        font-size: 18px;
    }

    .input:hover
    {
        background-color: #cadbd1;
    }

    .btn-entrar
    {
        width: 140px;
        height: 45px;
        border-radius: 10px;
        border: 0px;
        outline: none;
        font-size: 18px;
        font-weight: bold;
        margin-top: 40px;
        font-family: 'Lexend Deca';
        letter-spacing: 1.5px;
        background-color: #015249;
        color: #ffffff;
    }
    
    .btn-entrar:hover
    {
        cursor: pointer;
        background-color: #026359;
    }

    .texto-card
    {
        font-family: 'Lexend Deca';
        font-size: 20px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        
    }

    .texto-direita
    {
        text-align: right;
    }
    
    .link-cadastro
    {
        text-decoration: none;
        font-weight: bold;
        color: #002420;
        
    }
    
    .link-cadastro:hover
    {
        text-decoration: underline;
    }
    
    #espaco
    {
        width: 100%;
        height: 100px;
        /* background-color: #be77d4; */
    }

    
    /*----- Footer -----*/
    footer
    {
        width: 100%;
        height: 150px;
        background-color: #015249;
        position: absolute;
        bottom: 0%;
    }
    

}

/*----- Web-Responsivo -----*/
@media screen and (max-device-width:880px)
{

    
    /*----- Cabeçalho -----*/
    header
    {
        width: 100%;
        height: 80px;
        background-color: #000000;
        box-shadow: 10px 0px 30px #00000000;
        margin-bottom: 105px;
    }

    
    /*----- Rodapé -----*/
    footer
    {
        width: 100%;
        height: 150px;
        background-color: #015249;
        position: absolute;
        bottom: 0%;
    }
    
 
    /*----- Conteúdo -----*/
    .container-login
    {
        width: 100%;
        height: 1150px;
        /* background: rgba(39, 144, 110, 0.75); */
        /* background: rgba(207, 86, 30, 0.75); */
    }
    
    .container-centro
    {
        width: 800px;
        height: inherit;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        /* background-color: #002420 */
    }

    .caixa-texto
    {
        visibility: hidden;
    }

    .caixa-conteudo
    {
        width: 800px;
        height: 1085px;
        position: relative;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: yellowgreen; */
    }

    .card-login
    {
        width: auto;
        height: inherit;
        /* background-color: rgb(95, 95, 161); */
    }
    
    .conteudo-card
    {
        padding: 25px;
        box-sizing: border-box;
    }

    .logotipo
    {
        width: 150px;
        height: 150px;
        background-color: #d6d6d6;
        border-radius: 10px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .texto-centro
    {
        text-align: center;
        color: rgb(3, 22, 26);
    }
    
    .titulo
    {
        width: inherit;
        height: 90px;
        font-family: 'Lexend Deca';
        font-size: 4em;
        font-weight: bold;
        color: #000000;
        /* background-color: yellowgreen; */
    }

    .caixa-input
    {
        width: inherit;
        height: 130px;
        /* background-color: #438d5b; */
    }

    .label
    {
        font-family: 'Lexend Deca';
        font-size: 2.3em;
        text-align: left;
        margin-left: 20px;
        margin-top: 40px;
    }
    
    .texto-esquerda
    {
        text-align: left;
    }

    .input
    {
        width: 620px;
        height: 80px;
        border-radius: 30px;
        border: 0px;
        outline: none;
        padding-left: 20px;
        background-color: #efefef;
        font-size: 2em;
        margin-bottom: 20px;
    }
    
    .input:hover
    {
        background-color: #cadbd1;
    }

    .btn-entrar
    {    
        width: 234px;
        height: 88px;
        border-radius: 20px;
        /* border: 0px; */
        outline: none;
        font-size: 2.2em;
        font-weight: bold;
        margin-top: 40px;
        font-family: 'Lexend Deca';
        letter-spacing: 4.5px;
        background-color: #fdfdfd00;
        border: solid 0.12em #efefef;
        color: #ffffff;
    }

    .texto-card
    {
        font-family: 'Lexend Deca';
        font-size: 2.3em;
        margin-top: 60px;
    }
    
    .link-cadastro
    {
        text-decoration: none;
        color: #002420;
    }
    
    .link-cadastro:hover
    {
        text-decoration: underline;
    }

    #espaco{
        width: 100%;
        height: 100px;
        /* background-color: #77c9d4; */
    }
}
