
@media screen and (min-device-width:1000px){

.header-resp{
    display: none;
    visibility: hidden;
    opacity: 0;
}

.header-desktop{
    width: 100%;
    height: 95px;
    background-color: #f5f5f5;
    position: fixed;
    z-index: 990;
}

.caixa-header{
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.caixa-menu{
    max-width: 1200px;
    /* min-height: 800px; */
    height: 35px;
    box-sizing: border-box;
    padding-top: 5px;
}
.head-menu{
    max-width: 1200px; 
    /* min-height: 800px; */
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-menu{
    height: 57px;
    width: 180px;
}

.logo-menu img{
    max-height: 60px;
}


.entre-cadastre{
    width: 400px;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
}

.entre-cadastre img{
    width: 30px;
    height: 30px;
    margin-top: 15px;   

}

.box-entrar,
.box-cadastrar{
    float: left;
    width: 160px;
    height: 40px;
    background-color: rgba(255, 13, 13, 0.02);
    font-size: 16px;
    border: solid 2px #57bc90;
    padding-top: 5px;
    box-sizing: border-box;
    transition: .5s;
    font-family: 'Manjari';
    color: #58aeb9;

}



.box-entrar:hover,
.box-cadastrar:hover{
    transform: scale(1.05);
    transition: .5s;
    cursor: pointer;
    color: #77c9d4;
}

.area-itens-menu{
    width: 1000px;
    height: 60px;
    /* background-color: #2ce4ce; */
    display: flex;
    justify-content: space-around;

}
.item-menu-header{
    float: left;
    width: 150px;
    height: 60px;
    text-align: center;
    box-sizing: border-box;
    /* background-color: #51ce92; */
    font-size: 20px;
    color:#51ce92;
    transition: .5s;
    font-family: 'Manjari';
    

}

.item-menu-header:hover{
    transform: scale(1.25);
    transition: .5s;
    cursor: pointer;
}

/* CSS PARA QUANDO O USUARIO ESTIVER LOGADO */

.login-usuario{
    width: 350px;
    height: 57px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(204, 204, 218); */
}

.avatar-usuario{
    width: 47px;
    height: 47px;
    /* margin-top: 15px; */
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #57bc90;
    /* background-color: rgb(78, 240, 105); */
}
.avatar-usuario figure {
    margin: 0 !important;
    padding: 0 !important;
}
.avatar-usuario figure img{
    width: 40px;
    height: 40px;
    /* margin-top: 15px; */
    border-radius: 100%;
    background-color: brown;
}

.box-nome{
    float: left;
    min-width: 120px;
    height: 40px;
    /* background-color: rgb(172, 49, 49); */
    font-size: 20px;
    transition: .5s;
    font-family: 'Manjari';
    color: #58aeb9;
    justify-content: space-around;
    align-items: center;
}

.box-sair{
    float: left;
    width: 130px;
    height: 40px;
    /* background-color: rgb(255, 13, 13); */
    box-sizing: border-box;
    transition: .5s;
    font-family: 'Manjari';
    display: flex;
    justify-content: flex-start;
    padding-top: 5px;    

}

.box-sair img{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    /* float: left; */
    /* background-color: cadetblue; */
}

.box-nome:hover,
.box-sair img:hover{
    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
    color: #77c9d4;
}

}


/* @media screen and (max-device-width:880px){
    header{
        width: 100%;
        height: 50px;
        background-color: #f5f5f5;
        position: fixed;
        z-index: 990;
    }
} */