header{
    width: 100%;
    height: 95px;
    background-color: #f5f5f5;
    position: fixed;
    z-index: 990;
}



.caixa-header{
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.caixa-menu{
    max-width: 1200px;
    /* min-height: 800px; */
    height: 35px;
    box-sizing: border-box;
    /* background-color: rgb(241, 124, 124); */
}
.head-menu{
    max-width: 1200px; 
    /* min-height: 800px; */
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-menu{
    height: 57px;
    width: 180px;
}

.logo-menu img{
    max-height: 60px;
}

.entrar-cadastro{
    width: 350px;
    height: 57px;
    /* background-color: darkblue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.avatar-login{
    max-width: 40px;
    max-height: 40px;
    /* background-color: blueviolet; */
    margin-top: 18px;
}


.area-sing{
    width: 400px;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.area-sing img{
    width: 30px;
    height: 30px;
    margin-top: 15px;   

}

.box-entrar{
    background-color: #57bc90;
    color: #fefefe;
}

.box-cadastrar{
    background-color: #fefefe;
    color: #77c9d4;
}

.box-entrar,
.box-cadastrar{
    float: left;
    width: 160px;
    height: 40px;
    font-size: 18px;
    border: solid 2px #57bc90;
    padding-top: 5px;
    box-sizing: border-box;
    transition: .5s;
    font-family: 'Manjari';
    border-radius: 20px;
    font-weight: bold;

}


.box-entrar:hover{
    background-color: #68cda1;
    color: #fefefe;
}

.box-cadastrar:hover{
    background-color: #f5f5f5;
    color: #66b8c3;
}

.box-entrar:hover,
.box-cadastrar:hover{
    transform: scale(1.05);
    transition: .5s;
    cursor: pointer;
}

.area-itens-menu{
    width: 1000px;
    height: inherit;
    display: flex;
    justify-content: space-around;
    /* background-color: cornflowerblue; */

}
.item-menu-header{
    width: 150px;
    height: inherit;
    box-sizing: border-box;
    /* background-color: #f5f11a; */
    transition: .5s;
    margin-left: 5px;
    align-items: flex-end !important;
    font-size: 20px;
    color:#45ac98;
    font-family: 'Manjari';
}

.item-menu-header:hover{
    transform: scale(1.05);
    transition: .2s ease-in-out;
    cursor: pointer;
    background-color: #eeeeee;
}

/* CSS PARA QUANDO O USUARIO ESTIVER LOGADO */

.login-usuario{
    width: 350px;
    height: 57px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(204, 204, 218); */
}

.avatar-usuario{
    width: 47px;
    height: 47px;
    /* margin-top: 15px; */
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #57bc90;
    background-color: rgb(219, 223, 220);
    background-repeat: no-repeat;
    background-size: cover;
    
}
/* .avatar-usuario figure {
    margin: 0 !important;
    padding: 0 !important;
}
.avatar-usuario figure img{
    max-width: 40px;
    border-radius: 20px;
    background-color: rgb(221, 221, 221);
} */

.box-nome{
    float: left;
    min-width: 120px;
    height: 40px;
    /* background-color: rgb(172, 49, 49); */
    font-size: 20px;
    transition: .5s;
    font-family: 'Manjari';
    color: #58aeb9;
    justify-content: space-around;
    align-items: center;
}

.box-sair{
    float: left;
    width: 130px;
    height: 40px;
    /* background-color: rgb(255, 13, 13); */
    box-sizing: border-box;
    transition: .5s;
    font-family: 'Manjari';
    display: flex;
    justify-content: flex-start;
    padding-top: 5px;    

}

.box-sair img{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    /* float: left; */
    /* background-color: cadetblue; */
}

.box-nome:hover,
.box-sair img:hover{
    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
    color: #77c9d4;
}




/* @media screen and (max-device-width:880px){
    header{
        width: 100%;
        height: 50px;
        background-color: #f5f5f5;
        position: fixed;
        z-index: 990;
    }
} */