
body, html, figure, input, img, h1, h2,
h3, h4, h5, h6, div, figure, section, form{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'Lexend Deca';
    src: url("../fonts/LexendDeca-Regular.ttf");
}

@font-face{
    font-family: 'Manjari';
    src: url("../fonts/Manjari-Regular.ttf");
}

@font-face{
    font-family: 'Kodchasan';
    src: url("../fonts/Kodchasan-Bold.ttf");
}

@font-face{
    font-family: 'Anonymous';
    src: url("../fonts/AnonymousPro-Bold.ttf");
}

.titulo-daumhelp{
    font-family: 'Kodchasan';
}

.flex-center
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

html{
    /* height: 100%; */
    scroll-behavior: smooth;
    /* margin: 0; */
}

#root{
    padding: 0 !important;
}

body{
    background-image: linear-gradient(to bottom right, #57BC90, #77C9D4); 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    /* min-height: 100%;
    display: flex;
    flex-direction: column; */
}


#all{
    min-height: calc(100vh - 635px);
    /* min-height: 100%;
    position: relative; */

}

footer
{
    margin-top: 20px;
    box-shadow: -5px -5px 7px #0000002a;
    height: 615px;

}
/* 
.aux-footer{
    height: 615px;
    background-color: cyan;;
} */
 
hr{
    margin: auto !important;
}

.link{
    text-decoration: none;
    color: currentColor;
}
.link:hover{
    text-decoration: none;
    color: currentColor;
    color: #ededed;
}

h3
{
    font-family: "Lexend Deca";
    font-size: 25px;
}

label
{
    font-family: "Manjari";
    font-size: 20px;
}

option{
    margin-top: 20px;
}


.erro{
    /* background-color: #cce5d9 !important; */
    border-left: solid #ff01018e 5px !important;    
}


/* width */
p::-webkit-scrollbar,
div::-webkit-scrollbar,
textarea::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}

/* Track */
p::-webkit-scrollbar-track,
div::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
    background: #cbf3e1;
    cursor: pointer;
}

/* Handle */
p::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
    background: #a2dee6;
    cursor: pointer;
}

/* Handle on hover */
p::-webkit-scrollbar-thumb:hover,
div::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover {
    background: #77c9d4;
    cursor: pointer;    
}

.negrito{
    font-weight: bold;
}

@media screen and (min-device-width: 1000px){
    
    .voltar-topo{
        cursor: pointer;
        width: 60px;
        height: 60px;
        background-color: #4de4b1;
        position: fixed;
        border-radius: 30px;
        margin-left: 92vw;
        margin-top: 10vh;
        z-index: 985;
        box-shadow: 2px 2px 5px #0000004d;
    }
    #img-voltar-topo{
        max-width: 40px;
        transform: rotate(-90deg);
    }

    .aux-header{
        width: 100%;
        height: 95px;
        background-color: #77c9d4;
    }
}

@media screen and (max-device-width: 880px){

    .voltar-topo{
        cursor: pointer;
        width: 60px;
        height: 60px;
        background-color: #4de4b1;
        position: fixed;
        border-radius: 30px;
        margin-left: 80vw;
        margin-top: 60vh;
        z-index: 885;
        box-shadow: 2px 2px 5px #0000004d;
    }
    #img-voltar-topo{
        max-width: 40px;
        transform: rotate(-90deg);
    }
    .aux-header{
        width: 100%;
        height: 100px;
        background-color: #77c9d4;
    }

}
