
/*----- Web-Desktop -----*/
@media screen and (min-device-width:1000px)
{
	.capa-perfil-pro
	{
		width: 100%;
		height: 300px;
		position:relative;
		border-bottom: 3px solid #fff;
		background-position:center;
		/* background-image: url("https://i.ytimg.com/vi/TN2fJ24pKXs/maxresdefault.jpg"); */
		background-image: url("../img/imagem.png");
		/* background-color:rgba(58, 153, 148, 0.493); */
		background-size:cover;
		background-attachment: fixed;
	}


	
	/* COnteudo */
	.caixa-control-perfil{
		width: inherit;
		height: fit-content;
		margin: auto;
		/* background-color: blueviolet; */
		justify-content: flex-end;
		box-sizing: border-box;
		padding-right: 30px;
	}
	.text-editar-perfil,
	.text-atualizar-perfil{
		width: 80px;
		height: 70px;
		background-color:#ebebeb;
		margin-left: 10px;
		border-radius: 10px 10px 0px 0px;
		justify-items: center;
		box-sizing: border-box;
		padding-top: 15px;
		transition: .4s ease;
		cursor: pointer;
		box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
		border: none;
		outline: none;
		/* float: left; */
	}
	.text-editar-perfil:hover,
	.text-atualizar-perfil:hover{
		background-color: #e2e2e2;
		transition: .4s ease;
	}

	.text-editar-perfil img,
	.text-atualizar-perfil img{
		width: 50px;
		height: 50px;
		/* background-color: rgb(255, 255, 255); */
		color: rgb(255, 255, 255);
		text-decoration: underline;
		padding: 5px;
	}

	.caixa-conteudo-perfil-pro
	{
		width: 1300px;
		min-height: 1200px;
		/* background-color: #7257bc; */
		margin: auto;
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
	}


	.container-flex
	{  
		/* background-color: tomato; */
		width: 850px;
		height: 1200px;
		display: flex;
		justify-content: center;
		/* padding-top: 150px; */
		flex-wrap: wrap;
		/* float: ; */
	}

	.caixa-avaliacoes{
		width: 420px;
		height: auto;
		min-height: 300px;
		margin-top: 50px;
		overflow: hidden;
		scroll-behavior: smooth;
		flex-wrap: wrap;
		/* background-color: #57BC90; */
		display: flex;
		/* flex-direction: column; */
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	/* CAIXA DE COMENTARIOS */

	.caixa-comentarios-perfil
	{
		width: 400px;
		height: 300px;
		background-color: rgb(255, 255, 255);
		float: left;
		border-radius:10px;
		color: #84848D;
		margin-top: 20px;
		box-shadow: 2px 2px 5px #00000050;
	}

	.title-avaliacao
	{
		width: inherit;
		height: 50px;
		text-align: center;
		font-family: 'Lexend Deca';
        color: #84848D;     
		font-size: 28px;
		box-sizing: border-box;
		padding: 10px;
	}

	.caixa-comentario-usuario
	{
		width: 350px;
		height: 200px;
		background-color: #cce5e9;
		margin: auto;
		border-radius: 10px;
		margin-bottom: 20px;
	}
	.usuario-perfil
	{
		width: 100px;
		height: inherit;
		background-color: #cce5e9;
		float: left;
		border-radius: 10px 0px 0px 10px;
		padding-top: 15px;
		box-sizing: border-box;
		border-right: white 1px solid;
	}

	.circulo-usuario
	{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: #ffeeee;
		margin: auto;
		margin-top: 30px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

	}

	.nome-usuario
	{
		width: inherit;
		height: 50px;
		text-align: center;
		box-sizing: border-box;
		font-size: 20px;
		font-family: 'Lexend Deca';
		overflow: hidden;
	}

	.dados-usuario
	{
		width: 250px;
		height: inherit;
		float: left;
		background-color: #cce5e9;
		border-radius: 10px;
	}

	.titulo-comentario
	{
		width: inherit;
		height: 50px;
		/* background-color: blue; */
		text-align: left;
		color: #57BC90;
		margin: 0;
	}

	.caixa-star-perfil
	{
		width: inherit;
		height: 50px;
		/* background-color:#969FAA; */
	}

	/*----- Avaliação/Estrelas -----*/
	.estrelas input[type=radio] {
		display: none;
	}
	.estrelas label i.fa{
		font-size: 1.5em
	}
	.estrelas label i.fa:before {
		content:'\f005';
		color: #77C9D4;
	}
	.estrelas input[type=radio]:checked ~ label i.fa:before {
		color: #CCC;
		/* color: #FC0; */
	}

	.texto-comentario-perfil
	{
		width: inherit;
		height: 100px;
		/* background-color: darkcyan;	 */
		font-family: 'Lexend Deca';
		font-size: 15px;
		box-sizing: border-box;
		text-align: center;
		color: #84848D;  
		padding: 20px; 		
	}
	
}


/*----- Web-Responsivo -----*/
@media screen and (max-device-width:880px)
{

	/* CONTEUDO */
	
	.caixa-conteudo-perfil-pro
	{
		width: 100%;
		min-height: 1200px;
		/* background-color: #7257bc; */
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
	}


	.container-flex
	{  
		/* background-color: tomato; */
		width: 90%;
		min-height: 1200px;
		display: flex;
		justify-content: center;
		/* padding-top: 150px; */
		flex-wrap: wrap;
		/* float: ; */
	}

		.caixa-control-perfil{
			width: 100%;
			height: 90px;
			margin: auto;
			/* background-color: rgb(49, 226, 43); */
			justify-content: ce;
			box-sizing: border-box;
			padding-bottom: 7px;
			/* padding-right: 30px; */
		}
		.text-atualizar-perfil{
			margin-left: 10px;
		}
		.text-editar-perfil,
		.text-atualizar-perfil{
			width: 65px;
			height: 65px;
			background-color:rgb(234, 234, 234);
			border-radius: 35px;
			justify-items: center;
			box-sizing: border-box;
			transition: .4s ease;
			cursor: pointer;
			box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
			border: none;
		}
	
		.text-editar-perfil img,
		.text-atualizar-perfil img{
			width: 45px;
			height: 45px;
			/* background-color: rgb(255, 255, 255); */
			color: rgb(255, 255, 255);
			text-decoration: underline;
			padding: 5px;
		}


	/* CAIXA DE COMENTARIOS */

	.caixa-comentarios-perfil
	{
		width: 90%;
		height: 250px;
		background-color: rgb(255, 255, 255);
		/* float: left; */
		border-radius:10px;
		color: #84848D;
		/* flex-wrap: wrap; */
		/* margin-top: -1800px;    */
	}

	.title-avaliacao
	{
		width: 100%;
		height: 30px;
		text-align: center;
		font-family: 'Lexend Deca';
		/* background-col	or: limegreen; */
        color: #84848D;     
		font-size: 1.3em;
		/* box-sizing: border-box; */
		/* padding: 20px; */
		/* margin-bottom: px; */
	}

	.caixa-comentario-usuario
	{
		width: 90%;
		height: 200px;
		background-color: #cce5e9;
		margin: auto;
		border-radius: 10px;
		margin-bottom: 20px;
	}

	.usuario-perfil
	{
		width: 25%;
		height: inherit;
		background-color: #cce5e9;
		float: left;
		border-radius: 10px 0px 0px 10px;
		padding-top: 15px;
		box-sizing: border-box;
		border-right: white 1px solid;
	}

	.circulo-usuario
	{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: #ffeeee;
		margin: auto;
		margin-top: 30px;

	}

	.nome-usuario
	{
		width: 100%;
		height: 50px;
		background-color: #cce5e9;
		text-align: center;
		box-sizing: border-box;
		font-size: 1em;
		font-family: 'Lexend Deca';
	}

	.dados-usuario
	{
		width: 75%;
		height: inherit;
		float: left;
		background-color: #cce5e9;
		border-radius: 10px;
	}

	.titulo-comentario
	{
		width: 100%;
		height: 50px;
		background-color: cce5e9;
		text-align: left;
		color: #57BC90;
		margin: 0;
	}

	.caixa-star-perfil
	{
		width: 1005;
		height: 30px;
		/* background-color:#969FAA; */
		margin: 0%;
	}

	/*----- Avaliação/Estrelas -----*/
	.estrelas input[type=radio] {
		display: none;
	}
	.estrelas label i.fa{
		font-size: 1.2em
	}
	.estrelas label i.fa:before {
		content:'\f005';
		color: #77C9D4;
	}
	.estrelas input[type=radio]:checked ~ label i.fa:before {
		color: #CCC;
		/* color: #FC0; */
	}

	.texto-comentario-perfil
	{
		width: 100%;
		height: 100px;
		background-color: #cce5e9;	
		font-family: 'Lexend Deca';
		font-size: 15px;
		box-sizing: border-box;
		text-align: center;
		color: #84848D;  
		padding: 20px; 		
	}
	
	
}