
/*----- Web-Desktop -----*/
@media screen and (min-device-width:1000px)
{
    .caixa-titulo-servico
    {
        width: inherit;
        height: 80px;
        /* background-color: hsla(165, 69%, 49%, 0.795); */
        box-sizing: border-box;
    }
    
    
    .titulo-servico
    {
        width: inherit;
        height: 100px; 
        font-family: 'Lexend Deca';
        text-align: center;
        font-size: 60px;
        color: #ffffff;
        /* background-color: fuchsia; */
    }
    
	
	.caixa-conteudo-servico-pro
	{
		width: 1300px;
		min-height: 880px;
		/* overflow: auto; */
		/* background-color: #da2020; */
		margin: auto;
		margin-top: 20px;
	}

	.conteudo-pro-servico
	{
		width: 1415px;
		height: 700px;
		/* background-color: #c6c6c6; */
		margin: auto;
		box-sizing: border-box;
		padding-top: 30px;
	}
	
	.text-dados
	{
		width: inherit;
		height: 53px;
		font-family: 'Lexend Deca';
		padding-left: 56px;
		box-sizing: border-box;
		color: #84848D;     
	}

	/* CSS DOS SERVIÇOS CONCLUIDOS E PENDENTES DO PROFISSIONAL */
	
	.caixa-conteudo-informacoes-servico
	{
		width: 635px;
		height: 690px;
		background-color:rgb(255, 255, 255);
		float: left;
		border-radius: 10px;
		margin-right: 20px;
		padding-top: 50px;
		box-sizing: border-box;
		overflow-y:auto;
		overflow-x: hidden;
	}

	
	.caixa-servico
	{
		width: 520px;
		height: 300px;
		/* max-height: 320px; */
		/* background-color:rgb(32, 32, 219); */
        background-color: #57bc902f;
		border-radius: 10px;
		padding-top: 25px;
		box-sizing: border-box;
		margin: auto;
		margin-bottom: 40px;
		box-shadow: 5px 5px 15px#0000005b;		
	}
	
	.title-servico
	{
		width: inherit;
		min-height: 40px;
		text-align: center;
		font-family: 'Lexend Deca';
		color: #57BC90;
		font-size: 1.6em;
		/* background-color: rgb(98, 143, 16); */
		margin: 0;
	}
	.endereco-cliente-servico{
		width: inherit;
		height: 25px;
		/* background-color: rgb(28, 30, 155); */
		font-size: 17px;
		text-align: center;
		box-sizing: border-box;
		/* padding-right: 20px; */
		color: #84848D;
	}
	
	.linha-servico
	{
		width: 290px;
		height: 1px;
		color: #57BC90;
		background-color: #57BC90;
	}
	
	.text-servico
	{
		width: 85%;
		height: 100px;
		/* background-color: lawngreen; */
		text-align: center;
		padding: 10px;
		font-family: 'Lexend Deca';
		color: #84848D;
		box-sizing: border-box;
		font-size: 1.1em;
		display: flex;
		justify-content: center;
		margin: auto;
		overflow-x: auto;
		overflow-y: none;
		word-wrap: break-word;
	}
	
	
	.caixa-link
	{
		width: 100px;
		height: 50px;
		/* background-color: khaki; */
		display: flex;
		box-sizing: border-box;
		margin-left: 400px;
		/* margin-top: -10px; */
		cursor: pointer;
		transition: all .4s;
	}
	.caixa-link:hover{
		transform: scale(1.06);
		transition: all .4s;
	}
	
	.caixa-link img
	{
		width: 40px;
		height: 40px;
		background-color:rgb(255, 255, 255);
        background-color: #57bc900e;
		border: 0px;
		text-align: center;
		color: #57bc90;
		/* margin-top: 28px; */
	}
	

	/* ESTRELAS DE AVALIAÇOES */

	.caixa-star
	{
		width: 190px;
		height: 25px;
		/* background-color:#969FAA; */
		margin: auto;
	}
	.caixa-star-hidden
	{
		width: 190px;
		height: 25px;
		/* background-color:#969FAA; */
		margin: auto;
		visibility: hidden;
		opacity: 0;
		display: none;
	}

	/*----- Avaliação/Estrelas -----*/
	.estrelas
	{
		margin: auto;
		text-align: center;
	}

	.estrelas input[type=radio] {
		display: none;
	}
	.estrelas label i.fa{
		font-size: 1.5em
	}
	.estrelas label i.fa:before {
		content:'\f005';
		color: #77C9D4;
	}
	.estrelas input[type=radio]:checked ~ label i.fa:before {
		color: #CCC;
		/* color: #FC0; */
	}

}


/*----- Web-Responsivo -----*/
@media screen and (max-device-width:880px)
{

	.caixa-conteudo-servico-pro
	{
		width: 100%;
		min-height: 880px;
		/* overflow: auto; */
		/* background-color: #575ebc; */
		margin: auto;
		margin-top: 20px;
	}
    .caixa-titulo-servico
    {
        width: inherit;
        height: 80px;
        /* background-color: hsla(7, 100%, 49%, 0.795); */
        box-sizing: border-box;
    }
    
    
    .titulo-servico
    {
        width: inherit;
        height: 50px; 
        font-family: 'Lexend Deca';
        text-align: center;
        font-size: 40px;
        color: #ffffff;
        /* background-color: fuchsia; */
    }

	.conteudo-pro-servico
	{
		width: 100%;
		min-height: 700px;
		/* background-color: #a71e1e; */
		margin: auto;
		box-sizing: border-box;
		padding-top: 5px;
	}
	
	.text-dados
	{
		width: 100%;
		height: 30px;
		font-family: 'Lexend Deca';
		padding-left: 56px;
		box-sizing: border-box;
		color: #84848D;
		/* background-color: limegreen; */
		margin-bottom: 20px;
	}

	.servico-overflow{
		width: 100%;
		max-height: 280px;
		overflow-y:auto;
		overflow-x: hidden;
		/* background-color: magenta; */
	}

	/* CSS DOS SERVIÇOS CONCLUIDOS E PENDENTES DO PROFISSIONAL */
	
	.caixa-conteudo-informacoes-servico
	{
		width: 90%;
		height: 350px;
		background-color:rgb(255, 255, 255);
		/* float: left; */
		border-radius: 10px;
		margin-left: 20px;
		padding-top: 10px;
		box-sizing: border-box;	
		margin-bottom: 25px;
	}

	
	.caixa-servico
	{
		width: 90%;
		height: 210px;
		/* background-color:rgb(32, 32, 219); */
        background-color: #57bc902f;
		border-radius: 10px;
		padding-top: 20px;
		box-sizing: border-box;
		margin: auto;
		margin-bottom: 30px;
		box-shadow: 5px 5px 15px#0000005b;		
	}
	
	.title-servico
	{
		width: 100%;
		min-height: 20px;
		text-align: center;
		font-family: 'Lexend Deca';
		color: #57BC90;
		font-size: 1.1em;
		/* background-color: lightcyan; */
		margin: 0;
		
	}
	.endereco-cliente-servico{
		width: 100%;
		height: 20px;
		/* background-color: ivory; */
		font-size: 0.9em;
		text-align: center;
		box-sizing: border-box;
		padding-top: 4px;
		color: #84848D;
		/* display: flex; */
		/* justify-content: flex-end; */
	}
	
	.linha-servico
	{
		width: 80%;
		min-height: 1px;
		color: #57BC90;
		/* background-color: #57BC90; */
		margin-bottom: 5px;
		margin-top: 5px;
	}
	
	.text-servico
	{
		width: 100%;
		height: 50px;
		/* background-color: lawngreen; */
		text-align: center;
		padding: 10px;
		font-family: 'Lexend Deca';
		color: #84848D;
		box-sizing: border-box;
		font-size: 0.8em;
		display: flex;
		justify-content: center;
		margin: 0;
	}
	
	
	.caixa-link
	{
		width: 100%;
		height: 40px;
		/* background-color: khaki; */
		display: flex;
		box-sizing: border-box;
		/* margin-left: 40px; */
		margin-top: 10px;
	}
	
	.caixa-link img
	{
		width: 35px;
		height: 35px;
		background-color:rgb(255, 255, 255);
        background-color: #57bc900e;
		border: 0px;
		color: #57bc90;
		margin-left: 215px;
		margin-top: 5px;
	}
	

	/* ESTRELAS DE AVALIAÇOES */

	.caixa-star
	{
		width: 100%;
		height: 25px;
		/* background-color:#969FAA; */
		margin: auto;
		/* background-color: rgb(205, 50, 50); */
		text-align: center;
	}
	.caixa-star-hidden
	{
		visibility: hidden;
		opacity: 0;
		display: none;
	}

	/*----- Avaliação/Estrelas -----*/
	.estrelas
	{
		margin: auto;
		text-align: center;
	}

	.estrelas input[type=radio] {
		display: none;
	}
	.estrelas label i.fa{
		font-size: 1.1em
	}
	.estrelas label i.fa:before {
		content:'\f005';
		color: #77C9D4;
	}
	.estrelas input[type=radio]:checked ~ label i.fa:before {
		color: #CCC;
		/* color: #FC0; */
	}



}