@font-face 
{
    font-family: "lexend deca";
    src: url("../fontes/Lexend_Deca/LexendDeca-Regular.ttf");
}
@font-face 
{
    font-family: "manjari bold";
    src: url("../fontes/Manjari/Manjari-Bold.ttf");
}
@font-face 
{
    font-family: "manjari regular";
    src: url("../fontes/Manjari/Manjari-Regular.ttf");
}
@font-face 
{
    font-family: "manjari thin";
    src: url("../fontes/Manjari/Manjari-Thin.ttf");
}

body, html, figure, input, img, h2, a{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
}

#all{
    min-height: 100%;
    position: relative;
}

* html #all{
    height: 100%;
}

body{
    background-image: linear-gradient(to bottom right, #57BC90, #77C9D4); 
    
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;           
    /* background-color: cadetblue;                                                                      ; */
}

a{
    color: currentColor;
}

p, h1, div{
    font-family: 'lexend deca', sans-serif;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MENUUUU */

.menu{
    width: 1500px;
    height: 200px;
    /* background-color: chartreuse; */
}

header{
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
}

.caixa-header{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-bottom: solid 3px #51ce92;
    /* background-image: linear-gradient(to bottom right, #57BC90, #77C9D4);  */

}

.menu-1{
    width: 1600px;
    height: 50px;
    /* background-color: #ffde71; */
    /* background-image: linear-gradient(to bottom right, #57BC90, #77C9D4);  */

}

.img-logo{
    width: 100px;
    height: 100px;
    /* background-color: brown; */
    float: left;
    background-image: url(../img-menu/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}


.entrar-cad{
    width: 400px;
    height: 50px;
    float: left;
    /* background-color: pink; */
    margin-left: 1050px;
}


.sing{
    width: 400px;
    height: 50px;
    /* background-color: coral; */
    float: left;
}

.sing img{
    width: 30px;
    height: 30px;
    float: left;
}

.name{
    float: left;
    width: 160px;
    height: 40px;
    background-color: rgba(255, 13, 13, 0);
    font-size: 16px;
    box-sizing: border-box;
    border: solid 2px #51ce92;
    margin-left: 10px;
    text-align: center;
    box-sizing: border-box;
    transition: .5s;
}



.name:hover{
    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
}


.menu-2{
    width: 100%;
    height: 150px;
    /* background-color: #321f72; */
    font-size: 70px;
    color: #57BC90;
    box-sizing: border-box;
    padding-top: 20px;
}

.menu-2 img{
    max-height: 150px;
    /* background-color: black; */

}


.menu-3{
    width: 100%;
    height: 100px;
    /* background-color: #2ce4ce; */
}
.itens{
    float: left;
    border-top: 2px solid #51ce92;
    width: 150px;
    height: 80px;
    justify-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-top: 10px;

}

.itens img:hover{
    transform: scale(1.5);
    transition: .5s;
    cursor: pointer;
}

.itens img{
    width: 40px;
    height: 40px;
    flex-wrap: wrap;
    transition: .5s;

    
}

.name-menu{
    width: 150px;
    height: 20px;
    /* background-color: aqua; */
    flex-wrap: wrap;
    font-size: 14px;
    box-sizing: border-box;
    /* color: #77c9d4; */
    padding-top: 10px;
}