   /* MODAAALLL */
/* 
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.modal{
    height: 100%;
    width: 100%;
    background-color: rgba(94, 207, 158, 0.534);
}

.caixa-modal{
    width: 700px;
    height: 700px;
    background-color: rgba(168, 212, 193, 0.096);
    border-radius: 5px;
    flex-wrap: wrap;
    margin: auto;
}

.img-confirm{
    width:100%;
    height: 150px;
    /* background-color: #77C9D4; */
}

.img-confirm img{
    width: 150px;
    height: 100%;
}

.title-confirm{
    width: 100%;
    height: 200px;
    /* background-color: brown; */
    text-align: center;
    font-size: 55px;
    box-sizing: border-box;
    padding: 30px;
    color: #84848D;
}

.text-confirm{
    width:100%;
    height: 150px;
    /* background-color: #77C9D4; */
    color: #A5A5AF;
    font-size: 25px;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}

.btn{
    width:100%;
    height: 150px;
    /* background-color: #015249; */
}

.btn-inicio{
    width: 100%;
    height: 80px;
    font-size: 25px;
    border-radius: 15px;
    background-color: #57BC90;
    color: white;
    margin-bottom: 35px;
}