/*----- Web-Desktop -----*/
@media screen and (min-device-width:1000px)
{
    /*----- Formatação -----*/
    @font-face 
    {
        font-family: "Lexend Deca";
        src: url("../fontes/LexendDeca-Regular.ttf");
    }

    .texto-centro
    {
        text-align: center;
    }
    
    .texto-esquerda
    {
        text-align: left;
    }
    
    .texto-direita
    {
        text-align: right;
    }

    .titulo
    {
        font-family: 'Lexend Deca';
        font-size: 40px;
        font-weight: bold;
        color: #000000;
    }
    
    .texto-card
    {
        font-family: 'Lexend Deca';
        font-size: 20px;
        margin-top: 60px;
    }
    

    /*----- Padronização -----*/
    #all{
        min-height: 100%;
        position: relative;
    }
    
    body
    {
        width: 100%;
        margin: 0px;
        padding: 0px;
        background-image: linear-gradient(to bottom right, #57bc90, #77c9d4);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    body, html
    {
        height: 100%;
    
    }
    
    * html #all
    {
        height: 100%;
    }

    .float
    {
        float: left;
    }
    
    .centro
    {
        margin-left: auto;
        margin-right: auto;
    }

    
    /*----- Cabeçalho -----*/
    header
    {
        width: 100%;
        height: 80px;
        background-color: #000000;
        box-shadow: 10px 0px 30px #000000;
    }
    
    nav
    {
        visibility: hidden;
    }
    
    
    /*----- Footer -----*/
    footer
    {
        width: 100%;
        height: 150px;
        background-color: #015249;
        position: absolute;
        bottom: 0%;
    }
    
    
    /*----- Conteudo -----*/
    .container-login
    {
        width: 100%;
        height: 850px;
        /* background: rgba(39, 144, 110, 0.75); */
        /* background: rgba(207, 86, 30, 0.75); */
    }
    
    .container-centro
    {
        width: 1200px;
        height: inherit;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .caixa-texto
    {
        width: 400px;
        height: inherit;
        color: #ffffff;
        text-align: right;
        display: flex;
        justify-content: center;
        padding-top: 50px;
        box-sizing: border-box;
    }
    
    .caixa-conteudo
    {
        width: 800px;
        height: inherit;
        position: relative;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .conteudo-caixa-texto
    {
        font-family: 'Lexend Deca';
        font-size: 40px;
        padding: 50px;
        text-align: center;
        /* margin-left: 130px; */
    }
    
    .label
    {
        font-family: 'Lexend Deca';
        width: 490px;
        font-size: 20px;
        text-align: left;
        margin-left: 40px;
    }
    
    .card-login
    {
        width: 600px;
        height: 600px;
        border-radius: 10px;
        background-color: rgb(235, 230, 230);
        background-image: url(../imagens/fundo03.jpg);
        background-size: cover;
        box-shadow: 15px 15px 30px #015249;
    }
    
    .conteudo-card
    {
        padding: 25px;
    }
    
    .logotipo
    {
        width: 80px;
        height: 80px;
        background-color: #d6d6d6;
        border-radius: 10px;
    }
    
    .input
    {
        width: 490px;
        height: 40px;
        border-radius: 8px;
        border: 0px;
        outline: none;
        padding-left: 20px;
        background-color: #d6d6d6;
        font-size: 18px;
    }
    
    .input:hover
    {
        background-color: #cadbd1;
    }
    
    .btn-entrar
    {
        width: 140px;
        height: 45px;
        border-radius: 10px;
        border: 0px;
        outline: none;
        font-size: 18px;
        font-weight: bold;
        margin-top: 40px;
        font-family: 'Lexend Deca';
        letter-spacing: 1.5px;
        background-color: #015249;
        color: #ffffff;
    }
    
    .btn-entrar:hover
    {
        cursor: pointer;
        background-color: #026359;
    }
    
    .link-cadastro
    {
        text-decoration: none;
        font-weight: bold;
        color: #002420;
    }
    
    .link-cadastro:hover
    {
        text-decoration: underline;
    }
    
    .caixa-input
    {
        margin-top: 30px;
    }   
    
    #espaco{
        width: 100%;
        height: 100px;
        /* background-color: #77c9d4; */
    }

    .conteiner-conteudo
    {
        width: 100%;
        height: 100%;
    }
}

/*----- Web-Responsivo -----*/
@media screen and (max-device-width:880px)
{
    /*----- Formatação -----*/
    @font-face
    {
        font-family: "Lexend Deca";
        src: url("../fontes/LexendDeca-Regular.ttf");
    }

    .texto-centro
    {
        text-align: center;
        color: rgb(3, 22, 26);
    }

    .texto-esquerda
    {
        text-align: left;
    }
    
    /*
    .texto-direita
    {
        text-align: right;
    }
    */
    .link-cadastro
    {
        text-decoration: none;
        color: #002420;
    }
    
    .link-cadastro:hover
    {
        text-decoration: underline;
    }

    .titulo
    {
        font-family: 'Lexend Deca';
        font-size: 4em;
        font-weight: bold;
        color: #000000;
    }
  
    .texto-card
    {
        font-family: 'Lexend Deca';
        font-size: 2.3em;
        margin-top: 60px;
    }

    .label
    {
        font-family: 'Lexend Deca';
        font-size: 2.3em;
        text-align: left;
        margin-left: 20px;
        margin-top: 40px;
    }


    /*----- Padronização -----*/
    #all
    {
        min-height: 100%;
        position: relative;
    }
    
    body
    {
        width: 100%;
        margin: 0px;
        padding: 0px;
        background-image: linear-gradient(to bottom right, #57bc90, #77c9d4);
        /*background-color: #ffffff;*/
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;   
    }

    body, html
    {
        height: 100%;
    
    }
    
    * html #all
    {
        height: 100%;
    }

    
    /*----- Cabeçalho -----*/
    header
    {
        width: 100%;
        height: 80px;
        background-color: #000000;
        box-shadow: 10px 0px 30px #00000000;
        margin-bottom: 105px;
    }

    
    /*----- Rodapé -----*/
    footer
    {
        width: 100%;
        height: 150px;
        background-color: #015249;
        position: absolute;
        bottom: 0%;
    }
    
    #espaco{
        width: 100%;
        height: 100px;
        /* background-color: #77c9d4; */
    }

    
    /*----- Conteúdo -----*/
    .caixa-texto
    {
        visibility: hidden;
    }

    .container-login
    {
        width: 100%;
        height: 850px;
        /* background: rgba(39, 144, 110, 0.75); */
        /* background: rgba(207, 86, 30, 0.75); */
    }

    .caixa-conteudo
    {
        width: 800px;
        height: inherit;
        position: relative;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container-centro
    {
        width: auto;
        height: inherit;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
 
    .logotipo
    {
        width: 150px;
        height: 150px;
        background-color: #d6d6d6;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .input
    {
        width: 620px;
        height: 80px;
        border-radius: 30px;
        border: 0px;
        outline: none;
        padding-left: 20px;
        background-color: #efefef;
        font-size: 2em;
        margin-bottom: 20px;
    }
    
    .input:hover
    {
        background-color: #cadbd1;
    }

    .btn-entrar
    {    
        width: 234px;
        height: 88px;
        border-radius: 20px;
        /* border: 0px; */
        outline: none;
        font-size: 2.2em;
        font-weight: bold;
        margin-top: 40px;
        font-family: 'Lexend Deca';
        letter-spacing: 4.5px;
        background-color: #fdfdfd00;
        border: solid 0.12em #efefef;
        color: #ffffff;
    }
    
    .centro
    {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .conteudo-card
    {
        padding: 25px;
        box-sizing: border-box;
    }
    
}

