/*----- Padronização -----*/
body
{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}

body, html
{
    height: 100%;
}

* html #all
{
    height: 100%;
}

#all{
    min-height: 100%;
    position: relative;
}

footer
{
    justify-content: center;
    background-image: url(../imagens/background04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.float
{
    float: left;
}

.clear
{
    clear: left;
}

hr
{
    width: 940px;
}

/*----- Estilização -----*/
@font-face 
{
    font-family: "Lexend Deca";
    src: url("../fontes/LexendDeca-Regular.ttf");
}

.font-padrao
{
    font-family: "Lexend Deca";
}

.text-center
{
    text-align: center;
}

.text-left
{
    text-align: left;
}

.text-right
{
    text-align: right;
}

.titulo-rodape
{
    font-size: 40px;
    color: #ffffff;
}

.texto-rodape
{
    font-family: Lexend Deca;
    font-size: 25px;
    color: #ffffff;
}


/*----- Conteúdo -----*/
.item-center
{
    align-items: center;
    justify-content: center;
    display: flex;
}

.caixa-rodape-cadastro
{
    width: 100%;
    height: 285px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;
}

.caixa-rodape-informacoes
{
    width: 100%;
    height: 305px;
    background-color: #11161c;
    color: #ffffff;
}

.btn-cadastro-rodape
{
    width: 180px;
    height: 40px;
    font-size: 1em;
    border-radius: 8px;
    font-family: Lexend Deca;
    background-color: transparent;
    color: #ffffff;
    border: solid #ffffff;
    font-weight: bold;
    letter-spacing: 1px;
    outline: none;
}

.btn-cadastro-rodape:hover
{
    cursor: pointer;
}



.caixas-informacoes
{
    margin-left: 3px;
}

.caixas-conteudo-rodape
{
    width: 250px;
    height: 200px;
    /* background-color: chocolate; */
    margin-top: 20px;
    box-sizing: border-box;
    padding-left: 40px;
}

.logo-rede-social
{
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.text-rodape
{
    margin-left: 30px;
}

.caixa2rodape
{
    display: flex;
    /* background-color: chocolate; */
    margin-bottom: 30px;
}

.icon-footer
{
    width: 30px;
    height: 30px;
    filter: grayscale(100%)
}

.icon-footer:hover
{
    filter: grayscale(10%);
    transition: 0.8s;
    cursor: pointer
}

.itens
{
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    margin-left: 5px;
}

.itens:hover
{
    color: #77C9D4;
    transition: 0.8s;
    font-weight: normal;
    cursor: pointer;
    /* text-decoration: underline; */
}

.caixa-1
{
    width: 550px;
    text-align: left;
}

.caixa-2
{
    width: 420px;
    text-align: right;
}

.tamanho-icone
{
    width: 170px;
    height: 65px;
}

.tamanho-caixa-cima
{
    width: 200px;
    height: auto;
    margin-left: 10px;
}

.tamanho-caixa
{
    width: 200px;
    height: auto;
    margin-right: 10px;
    margin-top: 20px;
}